<div>
        <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
                <ng-content select="h3"></ng-content>
                <br>
                <label for="email">邮箱：
                        <input type="email" name="email" [(ngModel)]="user.email">
                </label>
                <br>
                <label for="username">用户名：
                        <input type="input" name="username" [(ngModel)]="user.userName">
                </label>
                <br>
                <label for="password">密码：
                        <input type="password" name="password" [(ngModel)]="user.pwd">
                </label>
                <br>

                <ng-content select="app-auth-remember"></ng-content>
                <br>
                <div *ngIf="showMessage">
                        保持登录30天
                </div>

                <ng-content select="button"></ng-content>
        </form>
</div>
